<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Example</title>
    <meta name="viewport" content="'width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/global.css" type="text/css" rel="'stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.css"></script>


</head>
<body>
<div class="container-fluid bg">
    <div class="row">
        <div class="'col-md-4 col-sm-4 col-xs-12"></div>
        <div class="'col-md-4 col-sm-4 col-xs-12">

            <form class="form-container" action="{{ url_for('register') }}" method="POST">
            <h1>Sign up</h1>
              <div class="form-group">
                <label for="username">Username</label>
{#                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">#}
                <input type="text" class="form-control" name="username" id="exampleInputEmail1">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me?
                </label>
              </div>

                <!---iinput type="submit" class="btn btn-success btn-block" value="submit"-->
            </form>
		<button onclick="myFunction()">submit</button>
                <p id="demo"></p>
                <script>
                function myFunction() {
                	document.getElementById("demo").innerHTML = "Welcome to the Fuse community";
                }
                </script>
        </div>
        <div class="'col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
</html>
