/*{ url_for('static', filename='image/1.jpg') }}" width="100"*/

.bg{background: url('../image/1.jpg') no-repeat;width:1000vh;
    height: 1000vh;}
.form-container{border:0px solid #fff; padding:50px 60px; margin-top:20vh;
-webkit-box-shadow: 1px 4px 20px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 20px 10px rgba(0,0,0,0.75);
box-shadow: 1px 4px 20px 10px rgba(0,0,0,0.75);
}
