<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Chat Room</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css'%}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css'%}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/color.css'%}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'%}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/custom.css'%}"/>
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!-- loader -->
        <div class="loader-wrap">
            <div class="pin"></div>
            <div class="pulse"></div>
        </div>
        <!--  loader end -->
        <!-- Main   -->
        <div id="main">
            <!-- header  -->
            <header class="main-header dark-header fs-header sticky">
                <div class="header-inner">
                    <div class="logo-holder">
                        <a href="index.html"><img src="images/logo.png" alt=""></a>
                    </div>
                    <div class="show-search-button"><i class="fa fa-search"></i> <span>Search</span></div>
                    <a href="/catalog/" class="add-list">Add Listing <span><i class="fa fa-plus"></i></span></a>
                    <div class="header-user-menu">
                        <div class="header-user-name">
                            <span><img src="images/avatar/1.jpg" alt=""></span>
                            Hello , Alisa
                        </div>
                        <ul>
                            <li><a href="dashboard-myprofile.html"> Edit profile</a></li>
                            <li><a href="dashboard-add-listing.html"> Add Listing</a></li>
                            <li><a href="dashboard-bookings.html">  Bookings  </a></li>
                            <li><a href="dashboard-review.html"> Reviews </a></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                    </div>
                    <!-- nav-button-wrap--> 
                    <div class="nav-button-wrap color-bg">
                        <div class="nav-button">
                            <span></span><span></span><span></span>
                        </div>
                    </div>
                    <!-- nav-button-wrap end-->
                    <!--  navigation --> 
                    <div class="nav-holder main-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">Home <i class="fa fa-caret-down"></i></a>
                                    <!--second level -->   
                                    <ul>
                                        <li><a href="index.html">Parallax Image</a></li>
                                        <li><a href="index2.html">Video</a></li>
                                        <li><a href="index3.html">Map</a></li>
                                        <li><a href="index4.html">Slideshow</a></li>
                                        <li><a href="index5.html">Sider</a></li>
                                    </ul>
                                    <!--second level end-->
                                </li>
                                <li>
                                    <a href="#">Listings <i class="fa fa-caret-down"></i></a>
                                    <!--second level -->
                                    <ul>
                                        <li><a href="listing.html">Column map</a></li>
                                        <li><a href="listing2.html">Column map 2</a></li>
                                        <li><a href="listing3.html">Fullwidth Map</a></li>
                                        <li><a href="listing4.html">Fullwidth Map 2</a></li>
                                        <li><a href="listing5.html">Without Map</a></li>
                                        <li><a href="listing6.html">Without Map 2</a></li>
                                        <li>
                                            <a href="#">Single <i class="fa fa-caret-down"></i></a>
                                            <!--third  level  -->
                                            <ul>
                                                <li><a href="listing-single.html">Style 1</a></li>
                                                <li><a href="listing-single2.html">Style 2</a></li>
                                                <li><a href="listing-single3.html">Style 3</a></li>
												<li><a href="listing-single4.html">Style 4</a></li>
                                            </ul>
                                            <!--third  level end-->
                                        </li>
                                    </ul>
                                    <!--second level end-->
                                </li>
                                <li>
                                    <a href="blog.html">News</a>
                                </li>
                                <li>
                                    <a href="#" class="act-link">Pages <i class="fa fa-caret-down"></i></a>
                                    <!--second level -->   
                                    <ul>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="contacts.html">Contacts</a></li>
                                        <li><a href="author-single.html">User single</a></li>
                                        <li><a href="how-itworks.html">How it Works</a></li>
                                        <li><a href="pricing-tables.html">Pricing</a></li>
                                        <li><a href="dashboard-myprofile.html">User Dasboard</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                        <li><a href="dashboard-add-listing.html">Add Listing</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                        <li><a href="header2.html">Header 2</a></li>
                                        <li><a href="footer-fixed.html">Footer Fixed</a></li>
                                    </ul>
                                    <!--second level end-->                                
                                </li>
                                <li>
                                    <a href="#" >Chat <i class="fa fa-caret-down"></i></a>

                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- navigation  end -->
                </div>
            </header>
            <!--  header end -->	

            <!-- webchat main -->
            <div id="wrapper">
                <!--content -->  
                <div class="content">
                    <!--section --> 
                    <section class="chat-section" id="sec1">
                        <!-- container -->
                        <div class="container">

                            {% block page-container %}
                            <!-- chat room container -->
                            <div class="chat-container">
                                <!-- friends list panel -->
                                <div class="left-contact-panel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#contact-tab" role="tab" data-toggle="tab">Friends</a></li>
                                        <li role="presentation"><a href="#group-tab" role="tab" data-toggle="tab">Groups</a></li>
                                    </ul>
                                    
                                    <div class="tab-content">
                                            <!-- friends list -->
                                            <div role="tabpanel" class="tab-pane active" id="contact-tab">
                                                <ul class="list-group">
                                                    {% for friend in request.user.userprofile.fds.select_related %}
                                                    <li contact-type='friend' contact-id='{{friend.id}}' onclick="StartChat(this)" class="list-group-item">
                                                        <span class="badge hide">0</span>
                                                        <span class="contact-name">{{friend.username}}</span>
                                                    </li>
                                                    {% endfor %}
                                                </ul>

                                            </div>
                                            <!-- group list  -->
                                            <div role="tabpanel" class="tab-pane" id="group-tab">
                                                <ul class="list-group">
                                                    {% for group in request.user.userprofile.group_members.select_related %}
                                                        <li contact-type='group' contact-id="{{group.id}}" onclick="StartChat(this)" class="list-group-item">
                                                            <span class="badge hide">0</span>
                                                            <span class="contact-name">{{ group.name }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                    </div>
                                  
                                </div>


                                <!-- chat panel -->
                                <div class="right-chat-panel">
                                    <div class="chat-box-title" contact-id="" contact-type=""></div>
                                    <div class="chat-box-window"></div>
                                    <div class="chat-box-msg-box">
                                        <textarea name="" id="msg" ></textarea>
                                        <button name="send_btn"class="trs-btn">Send</button>
                                    </div>
                        
                                </div>
                                <div class="clear-both"></div>
                            </div>
                            {% endblock %}
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </body>




    <!--=============== scripts  ===============-->
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script> 



    {% block bottom-js %}
    <script>
        // for csrf
        // using jQuery

        /*CSRF related: Django imposes restriction on Ajax usage.
          To use Ajax freely, function getCookie, csrfSafeMethod and ajaxSetup below have to be used.
          These three functions were obtained from Django's official website:
            https://docs.djangoproject.com/en/2.0/ref/csrf/
        */
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        //end csrf

//Declare chatting record for retrival 
CHAT_RECORD = {
    'friend': {},
    'group': {},
};

        $(document).ready(function(){
            /*Required by Django for csrf setup*/
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            /*jQuery routine:
                1: Check new messages
                2: If enter key is typed or "send" button pushed:
                    post message to back-end
                    push message to current window
                    clear textbox
            */
            
            GetMsg();
            $("body").delegate("textarea","keydown",function(e){
                if (e.which == 13 ){
                    var msg_new=$("textarea").val();
                    if ($.trim(msg_new).length >0){
                        console.log(msg_new);
                        PostMsg(msg_new);
                        PushMsgToBox(msg_new);
                        $("textarea").val('');
                    }

                }

            });

            $("button").click(function(){
                var msg_new=$("textarea").val();
                        if ($.trim(msg_new).length >0){
                            console.log(msg_new);
                            PostMsg(msg_new);
                            PushMsgToBox(msg_new);
                            $("textarea").val('');
                        }

            });

        });



        /*Function StartChat:
            Triggered: When a friend of group tab is clicked    
            Routine: 
                1: obtain the name, display the title according to name
                2: Fetch and display chat histroy from CHAT_RECORD if exist
                3: hide the message notification bubble and clear the number of new messages to 0
        */
        function StartChat(elem){
            var prev_type = $(".chat-box-title").attr("contact-type");
            var prev_id = $(".chat-box-title").attr("contact-id");
            if (prev_id) {
                CHAT_RECORD[prev_type][prev_id] = $(".chat-box-window").html();
            }

            $(elem).addClass("active");
            $(elem).siblings().removeClass("active");
            $(elem).find(".badge").text(0);
            $(elem).find(".badge").addClass("hide");

            var curr_id = $(elem).attr("contact-id");
            var curr_name = $(elem).find(".contact-name").text();
            var curr_type = $(elem).attr("contact-type");
            var new_title = "Chatting with " + curr_name;
            $(".chat-box-title").attr("contact-type",curr_type);
            $(".chat-box-title").attr("contact-id",curr_id);
            $(".chat-box-title").html(new_title);

            var new_record = "";
            if (CHAT_RECORD[curr_type][curr_id]){
                var new_record = CHAT_RECORD[curr_type][curr_id];
            }
            $(".chat-box-window").html(new_record);
        }

        
        /*Function PushMsgToBox:
            Triggered: When enter key or button is hit   
            Routine: 
                1: compose the new message with html forms
                2: append the message to the window
        */
        function PushMsgToBox(new_msg){
            var msg = "<div class='msg-item'>" +
                            "<span>"+ "{{ request.user.userprofile.name }} "+"</span>" +
                            "<span>"+ new Date().toLocaleTimeString()+"</span>" +
                            "<div class='msg-text'>" + new_msg + "</div>" +
                          "</div>";
             $(".chat-box-window").append(msg);
             $(".chat-box-window").animate({scrollTop:$('.chat-box-window').height()},500)


        }

        /*Function PostMsg:
            Triggered: When enter key or button is hit   
            Routine: 
                1: retrive data about the receiver and the type of chatting
                2: compose a json file to send to backend 
                3: post data string to backend and invoke the send_msg routine in backend Django view, ask for callback
        */
        function PostMsg(new_msg){
            var curr_type = $(".chat-box-title").attr("contact-type");
            var curr_id = $(".chat-box-title").attr("contact-id");
            if(curr_id && curr_type){
                var msg_json = {
                    'sender': "{{ request.user.userprofile.user_id }}",
                    'sender_name':"{{ request.user.userprofile.name }}",
                    'receiver': curr_id,
                    'type': curr_type,
                    'msg': new_msg
                };
                $.post("{% url 'send_msg' %}", {data:JSON.stringify(msg_json)}, function(callback){
                    console.log(callback)
                });
            }
        }

        /*Function GetMsg:
            Triggered: Auto called  
            Routine: 
                whenever the backend Django view 'get_msg' is invoked, this function
                retrive the JSON file, call ParseMsg to display it and continue waiting for the next one
        */
        function GetMsg(){
            $.getJSON("{% url 'get_msg' %}", function(callback){
                console.log(callback);
                ParseMsg(callback);
                GetMsg();
            });
        }

        /*Function GetMsg:
            Triggered: Called by GetMsg when a JSON is received from backend
            Routine: 
                1: retrive data about the chatter and the type of chatting
                2: for each message data in the callback:
                    compose in html the message to display on window
                    if the current chat tab opened is certain friend or group, we just append the message;
                    if not, we save that message to the corresponding place in the chat record array
                      and also update the message notification numbers.
            
        */
        function ParseMsg(callback){
            var curr_type = $(".chat-box-title").attr("contact-type");
            var curr_id = $(".chat-box-title").attr("contact-id");
            for (var msg in callback){
                    var new_msg = "<div class='msg-item'>" +
                        "<span>"+ callback[msg].sender_name +"</span>" +
                        "<span>"+ Date(callback[msg].time) +"</span>" +
                        "<div class='msg-text'>" + callback[msg].msg + "</div>" +
                      "</div>";
                if(callback[msg].type == "friend"){
                    var fd_id = callback[msg]['sender'];
                }else{
                    var fd_id = callback[msg]['receiver'];
                }
                if(fd_id == curr_id && callback[msg].type == curr_type){
                    $(".chat-box-window").append(new_msg);
                }else{
                    if( CHAT_RECORD[callback[msg].type][fd_id]){
                        CHAT_RECORD[callback[msg].type][fd_id] += new_msg;
                    }else{
                        CHAT_RECORD[callback[msg].type][fd_id] = new_msg;
                    }
                    
                    var curr_chatter = $(".list-group li[contact-type='"+ callback[msg].type + "']").filter("li[contact-id="+ fd_id +"]")[0];
                    var new_msg_count = $(curr_chatter).find(".badge").text();
                    $(curr_chatter).find(".badge").removeClass("hide");
                    $(curr_chatter).find(".badge").text(parseInt(new_msg_count)+1);
                }
            }
            
        }


    </script>
    {% endblock %}





</html>